 .center {

    padding: 70px 0;

    border: 3px solid green;

    text-align: center;

}

body {

    texdt-color:pi555nk;
    
}

.dwity-banner {
 display: flex;
  justify-content: center;
  align-items: center;

  border: 4px solid ho222tpink;
  height: 90vh ;
font-size: 102px;  padding: 25px 50px 75px 100px;
}

.trash {

    height: 200px;

}
