<!DOCTYPE html>
<html lang="en">

<head>

    <title>
    
        Activity Manager // Software Shinobi Dashboard
        
    </title>

    <!-- Template Header // Begin -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <link href="../build/css/custom.min.css" rel="stylesheet">
<!-- Template Header // End -->

</head>

<!-- Template Menu // Begin -->
  <body class="nav-md">
  
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">


<div class="navbar nav_title" style="border: 0;">

    <a href="index.html" class="site_title">


        <span>
        
            Article Magick
            
        </span>

    </a>

</div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome Back,</span>
                <h2>Software Shinobi</h2>
              </div>
              <div class="clearfix"></div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Text Content Operations</h3>
                <ul class="nav side-menu">
                  
<!-- article magick opts / begin -->

<li>

    <a>
    
    <i class="fa fa-edit"></i>
    
        Content Operations
        
        <span class="fa fa-chevron-down"></span>
        
    </a>

    <ul class="nav child_menu">

        <li>
        
            <a href="article-magick-permalink.html">
            
				Permalink Conversions
                
            </a>
            
        </li>

        <li>
        
            <a href="clean-format-text.html">
            
				Clean & Format Text
                
            </a>
            
        </li>

       <li>
        
            <a href="rewrite-percent-difference.html">
            
                Rewrite % Diff Calc
                
            </a>
            
        </li>      
        
   </ul>

</li>

<!-- article magick ops / end -->

<!-- article magick management / begin -->

<li>

    <a>
    
    <i class="fa fa-edit"></i>
    
        API Monitoring
        
        <span class="fa fa-chevron-down"></span>
        
    </a>

    <ul class="nav child_menu">

<li>
        
            <a href="monitor-api-server.html">
            
                Monitor API Server
                
            </a>
            
        </li>
        
   </ul>

</li>

<!-- article magick management / end -->

</ul>

</div>

</div>

<!-- /sidebar menu -->

<!-- /menu footer buttons -->

            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <div class="nav toggle">
                  <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <nav class="nav navbar-nav">
                <ul class=" navbar-right">
                   
             
			   </ul>
              </nav>
            </div>
          </div>
        <!-- /top navigation -->
<!-- Template Menu // End -->

    	<!-- page content -->

        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Manage Activity Task</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>


                     
                     
                     
                                     <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">

                            <div class="x_title">

                                <h2>Add New Activity</h2>

                                <div class="clearfix"></div>

                            </div>

                            <div class="x_content">

                               

                                    <div id="spacersituatio">

                                        <label class="col-form-label col-md-1 col-sm-1 label-align">

                                            Project

                                        </label>

                                        <div class="col-md-4 col-sm-4 ">

                                            <input id="category" th:field="*{category}" type="text" required="required" class="form-control ">

                                        </div>

                                        <label class="col-form-label col-md-1 col-sm-1 label-align">

                                            State

                                        </label>

                                        <div class="col-md-4 col-sm-4 ">

                                            <input id="state" type="text" required="required" class="form-control ">

                                        </div>

                                        <br />	<br />	<br />

                                        <label class="col-form-label col-md-1 col-sm-1 label-align">
                                            Description
                                        </label>

                                        <div class="col-md-9 col-sm-9 ">

                                            <input id="description" type="text" required="required" class="form-control ">

                                        </div>

                                        <button  class="btn btn-success" onclick="processForm()">Add Activity</button>

                                    </div>

                               

                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

              
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">

                                <h2>Activity Backlog</h2>

                                <div class="clearfix"></div>

                            </div>
                            <div class="x_content">

                                <p>Simple table with project listing with progress and editing options</p>

                                <!-- start project list -->

                                <table id="activity-display-table" class="table table-striped projects">

                                    <thead>
                                    <tr>

                                        <th class="col-md-1">

                                            ID

                                        </th>

                                        <th style="width: 20%">

                                            Project

                                        </th>

                                        <th>

                                            Activity

                                        </th>

                                        <th style="width: 20%">

                                            Status

                                        </th>

                                        <th style="width: 20%">

                                            Actions

                                        </th>

                                    </tr>

                                    </thead>

                                    <tbody>

                                    <tr th:each="activityTask : ${activityTaskList}">

                                        <td th:text="${activityTask.id}"></td>

                                        <td th:text="${activityTask.category}"></td>

                                        <td th:text="${activityTask.description}"></td>

                                        <td th:text="${activityTask.status}" ></td>

                                        <td>

                                            <a class="btn btn-primary btn-xs" th:href="@{'/delete-activity?id=' + ${activityTask.id}}">

                                                <i class="fa fa-trash-o"></i>

                                                Mark Complete

                                            </a>

                                        </td>

                                    </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>
                </div>

       
                     
                     
                     
                     
                     
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

<!-- Footer // Begin --><footer>

<div class="pull-right">

Article Magick Dashboard. Built with :heart by

<a href="https://softwareshinobi.digital">

Software Shinobi

</a>

</div>

<div class="clearfix"></div>

</footer>
<!-- Footer // End -->

	<script src="javascript/dwity-universe-activity-manager.js"></script>
	
</body>

</html>
